node_modules
out
dist
*.tgz
coverage
*.lcov
logs
_.log
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.eslintcache
.cache
*.tsbuildinfo
.idea
.DS_Store
*.png
image.png
prompt
*.zip
*ollama.zip
*.gguf
.blitcoder/bin
.blitcoder/chats
.blitcoder/memory.json
.blitcoder
/stuff
settings.json
keyboard_shortcuts.json
memory.json
chats
Workspaces
stuff
bun.lock
BlitCoder-win32-x64/*
*.exe
Plugins.examples/*
Plugins.examples/
scripts/*
scripts/
gui/
gui/*
blitcoder-v1.0.0/
blitcoder-v1.0.0/*
gui/
gui/*
